@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?am4ynb');
  src:  url('@{icomoon-font-path}/@{icomoon-font-family}.eot?am4ynb#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?am4ynb') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?am4ynb') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?am4ynb#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abort {
  &:before {
    content: @abort; 
  }
}
.activity {
  &:before {
    content: @activity; 
  }
}
.add {
  &:before {
    content: @add; 
  }
}
.archive {
  &:before {
    content: @archive; 
  }
}
.arrow-down {
  &:before {
    content: @arrow-down; 
  }
}
.arrow-right {
  &:before {
    content: @arrow-right; 
  }
}
.arrow-up {
  &:before {
    content: @arrow-up; 
  }
}
.attachment {
  &:before {
    content: @attachment; 
  }
}
.back {
  &:before {
    content: @back; 
  }
}
.block {
  &:before {
    content: @block; 
  }
}
.calendar {
  &:before {
    content: @calendar; 
  }
}
.cancel {
  &:before {
    content: @cancel; 
  }
}
.change {
  &:before {
    content: @change; 
  }
}
.check {
  &:before {
    content: @check; 
  }
}
.chevron-down {
  &:before {
    content: @chevron-down; 
  }
}
.chevron-up {
  &:before {
    content: @chevron-up; 
  }
}
.circle-check {
  &:before {
    content: @circle-check; 
  }
}
.circle-cross {
  &:before {
    content: @circle-cross; 
  }
}
.circle-exclamation {
  &:before {
    content: @circle-exclamation; 
  }
}
.close {
  &:before {
    content: @close; 
  }
}
.cluster {
  &:before {
    content: @cluster; 
  }
}
.code {
  &:before {
    content: @code; 
  }
}
.column {
  &:before {
    content: @column; 
  }
}
.comment {
  &:before {
    content: @comment; 
  }
}
.compare {
  &:before {
    content: @compare; 
  }
}
.config {
  &:before {
    content: @config; 
  }
}
.container {
  &:before {
    content: @container; 
  }
}
.dashboard {
  &:before {
    content: @dashboard; 
  }
}
.decrease {
  &:before {
    content: @decrease; 
  }
}
.delay {
  &:before {
    content: @delay; 
  }
}
.delete {
  &:before {
    content: @delete; 
  }
}
.deployed {
  &:before {
    content: @deployed; 
  }
}
.drag {
  &:before {
    content: @drag; 
  }
}
.duplicate {
  &:before {
    content: @duplicate; 
  }
}
.edit {
  &:before {
    content: @edit; 
  }
}
.educate {
  &:before {
    content: @educate; 
  }
}
.export {
  &:before {
    content: @export; 
  }
}
.file-error {
  &:before {
    content: @file-error; 
  }
}
.file-generic {
  &:before {
    content: @file-generic; 
  }
}
.file {
  &:before {
    content: @file; 
  }
}
.filter {
  &:before {
    content: @filter; 
  }
}
.flag {
  &:before {
    content: @flag; 
  }
}
.folder {
  &:before {
    content: @folder; 
  }
}
.fullscreen-exit {
  &:before {
    content: @fullscreen-exit; 
  }
}
.fullscreen {
  &:before {
    content: @fullscreen; 
  }
}
.gate {
  &:before {
    content: @gate; 
  }
}
.graph {
  &:before {
    content: @graph; 
  }
}
.grid {
  &:before {
    content: @grid; 
  }
}
.group {
  &:before {
    content: @group; 
  }
}
.help {
  &:before {
    content: @help; 
  }
}
.host .path1 {
  &:before {
    content: @host-path1;  
    color: rgb(253, 141, 16);  
    opacity: 0.0640;
  }
}
.host .path2 {
  &:before {
    content: @host-path2;  
    margin-left: -1em;  
    color: rgb(253, 141, 16);
  }
}
.increase {
  &:before {
    content: @increase; 
  }
}
.info {
  &:before {
    content: @info; 
  }
}
.infrastructure-disabled .path1 {
  &:before {
    content: @infrastructure-disabled-path1;  
    color: rgb(213, 213, 213);  
    opacity: 0.4;
  }
}
.infrastructure-disabled .path2 {
  &:before {
    content: @infrastructure-disabled-path2;  
    margin-left: -1em;  
    color: rgb(213, 213, 213);
  }
}
.keyboard {
  &:before {
    content: @keyboard; 
  }
}
.list {
  &:before {
    content: @list; 
  }
}
.lock {
  &:before {
    content: @lock; 
  }
}
.mail {
  &:before {
    content: @mail; 
  }
}
.manual .path1 {
  &:before {
    content: @manual-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.0100;
  }
}
.manual .path2 {
  &:before {
    content: @manual-path2;  
    margin-left: -1em;  
    color: rgb(51, 51, 51);
  }
}
.minus {
  &:before {
    content: @minus; 
  }
}
.monitor-control {
  &:before {
    content: @monitor-control; 
  }
}
.monitor-deployments {
  &:before {
    content: @monitor-deployments; 
  }
}
.monitor {
  &:before {
    content: @monitor; 
  }
}
.move-folder {
  &:before {
    content: @move-folder; 
  }
}
.not-synced {
  &:before {
    content: @not-synced; 
  }
}
.notarget {
  &:before {
    content: @notarget; 
  }
}
.notification {
  &:before {
    content: @notification; 
  }
}
.options {
  &:before {
    content: @options; 
  }
}
.parallel {
  &:before {
    content: @parallel; 
  }
}
.pending {
  &:before {
    content: @pending; 
  }
}
.permissions {
  &:before {
    content: @permissions; 
  }
}
.planner {
  &:before {
    content: @planner; 
  }
}
.play {
  &:before {
    content: @play; 
  }
}
.power {
  &:before {
    content: @power; 
  }
}
.project {
  &:before {
    content: @project; 
  }
}
.provision-applied {
  &:before {
    content: @provision-applied; 
  }
}
.provisioner {
  &:before {
    content: @provisioner; 
  }
}
.puzzle {
  &:before {
    content: @puzzle; 
  }
}
.refresh {
  &:before {
    content: @refresh; 
  }
}
.release {
  &:before {
    content: @release; 
  }
}
.remote-task {
  &:before {
    content: @remote-task; 
  }
}
.restore {
  &:before {
    content: @restore; 
  }
}
.retry {
  &:before {
    content: @retry; 
  }
}
.rocket {
  &:before {
    content: @rocket; 
  }
}
.script {
  &:before {
    content: @script; 
  }
}
.search {
  &:before {
    content: @search; 
  }
}
.sequential {
  &:before {
    content: @sequential; 
  }
}
.server {
  &:before {
    content: @server; 
  }
}
.settings {
  &:before {
    content: @settings; 
  }
}
.shared-config {
  &:before {
    content: @shared-config; 
  }
}
.show-more {
  &:before {
    content: @show-more; 
  }
}
.sort-asc {
  &:before {
    content: @sort-asc; 
  }
}
.sort-desc {
  &:before {
    content: @sort-desc; 
  }
}
.sort {
  &:before {
    content: @sort; 
  }
}
.speedometer {
  &:before {
    content: @speedometer; 
  }
}
.star {
  &:before {
    content: @star; 
  }
}
.sync {
  &:before {
    content: @sync; 
  }
}
.table {
  &:before {
    content: @table; 
  }
}
.tag {
  &:before {
    content: @tag; 
  }
}
.target {
  &:before {
    content: @target; 
  }
}
.template {
  &:before {
    content: @template; 
  }
}
.thumbs {
  &:before {
    content: @thumbs; 
  }
}
.timeline {
  &:before {
    content: @timeline; 
  }
}
.url {
  &:before {
    content: @url; 
  }
}
.user {
  &:before {
    content: @user; 
  }
}
.users {
  &:before {
    content: @users; 
  }
}
.variable {
  &:before {
    content: @variable; 
  }
}
.version {
  &:before {
    content: @version; 
  }
}
.visbility-on {
  &:before {
    content: @visbility-on; 
  }
}
.visibility-off {
  &:before {
    content: @visibility-off; 
  }
}
.warning {
  &:before {
    content: @warning; 
  }
}
.watcher {
  &:before {
    content: @watcher; 
  }
}
.webhook {
  &:before {
    content: @webhook; 
  }
}
.wrench {
  &:before {
    content: @wrench; 
  }
}
.xml {
  &:before {
    content: @xml; 
  }
}
.dictionary-locked {
  &:before {
    content: @dictionary-locked; 
  }
}
.dictionary {
  &:before {
    content: @dictionary; 
  }
}
.environment .path1 {
  &:before {
    content: @environment-path1;  
    color: rgb(8, 177, 83);  
    opacity: 0.2;
  }
}
.environment .path2 {
  &:before {
    content: @environment-path2;  
    margin-left: -1em;  
    color: rgb(8, 177, 83);
  }
}
.infrastructure .path1 {
  &:before {
    content: @infrastructure-path1;  
    color: rgb(253, 141, 16);  
    opacity: 0.5;
  }
}
.infrastructure .path2 {
  &:before {
    content: @infrastructure-path2;  
    margin-left: -1em;  
    color: rgb(253, 141, 16);
  }
}
.package {
  &:before {
    content: @package; 
  }
}
.satellite-group {
  &:before {
    content: @satellite-group; 
  }
}
.satellite {
  &:before {
    content: @satellite; 
  }
}
.app {
  &:before {
    content: @app; 
  }
}

