@icomoon-font-family: "xlf";
@icomoon-font-path: "fonts";

@circle-minus: "\e913";
@abort: "\e902";
@activity: "\e904";
@add: "\e907";
@archive: "\e90a";
@arrow-down: "\e90c";
@arrow-right: "\e90e";
@arrow-up: "\e910";
@attachment: "\e911";
@back: "\e912";
@block: "\e915";
@calendar: "\e916";
@cancel: "\e917";
@change: "\e918";
@check: "\e919";
@chevron-down: "\e91a";
@chevron-up: "\e91b";
@circle-check: "\e91c";
@circle-cross: "\e91d";
@circle-exclamation: "\e91e";
@close: "\e91f";
@cluster: "\e920";
@code: "\e921";
@column: "\e922";
@comment: "\e923";
@compare: "\e924";
@config: "\e925";
@container: "\e926";
@dashboard: "\e927";
@decrease: "\e928";
@delay: "\e929";
@delete: "\e92a";
@deployed: "\e92b";
@drag: "\e92c";
@duplicate: "\e92d";
@edit: "\e92e";
@educate: "\e92f";
@export: "\e930";
@file-error: "\e931";
@file-generic: "\e932";
@file: "\e933";
@filter: "\e934";
@flag: "\e935";
@folder: "\e936";
@fullscreen-exit: "\e937";
@fullscreen: "\e938";
@gate: "\e939";
@graph: "\e93a";
@grid: "\e93b";
@group: "\e93c";
@qmark: "\e93d";
@host-path1: "\e93e";
@host-path2: "\e93f";
@increase: "\e940";
@info: "\e941";
@infrastructure-disabled-path1: "\e942";
@infrastructure-disabled-path2: "\e943";
@keyboard: "\e944";
@list: "\e945";
@lock: "\e946";
@mail: "\e947";
@minus: "\e94a";
@monitor-control: "\e94b";
@monitor-deployments: "\e94c";
@monitor: "\e94d";
@move-folder: "\e94e";
@not-synced: "\e94f";
@notarget: "\e950";
@notification: "\e951";
@options: "\e952";
@parallel: "\e953";
@pending: "\e954";
@permissions: "\e955";
@planner: "\e956";
@play: "\e957";
@power: "\e958";
@project: "\e959";
@provision-applied: "\e95a";
@provisioner: "\e95b";
@puzzle: "\e95c";
@refresh: "\e95d";
@release: "\e95e";
@remote-task: "\e95f";
@restore: "\e960";
@retry: "\e961";
@rocket: "\e962";
@script: "\e963";
@search: "\e964";
@sequential: "\e965";
@server: "\e966";
@settings: "\e967";
@shared-config: "\e968";
@show-more: "\e969";
@sort-asc: "\e96a";
@sort-desc: "\e96b";
@sort: "\e96c";
@speedometer: "\e96d";
@star: "\e96e";
@sync: "\e96f";
@table: "\e970";
@tag: "\e971";
@target: "\e972";
@template: "\e973";
@thumbs: "\e974";
@timeline: "\e975";
@url: "\e976";
@user: "\e977";
@users: "\e978";
@variable: "\e979";
@version: "\e97a";
@visbility-on: "\e97b";
@visibility-off: "\e97c";
@warning: "\e97d";
@watcher: "\e97e";
@webhook: "\e97f";
@wrench: "\e980";
@xml: "\e981";
@dictionary-locked: "\e901";
@dictionary: "\e903";
@environment-path1: "\e905";
@environment-path2: "\e906";
@infrastructure-path1: "\e908";
@infrastructure-path2: "\e909";
@package: "\e90b";
@satellite-group: "\e90d";
@satellite: "\e90f";
@app: "\e900";

